ul{ 
  list-style: inside;
  width:100%;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  color: white;
  background-color: rgb(31, 155, 15);
  border-style: solid;
  width: 20rem;
  border-radius: 2rem;
  margin: auto;
}

body {
  background-image: url(groceryimg.jpg); 
  background-size: cover;
  margin-bottom: 70rem;
  position: absolute;
  top: 20%;
  width: 100%;
  background-repeat: no-repeat;
}

.list {
  text-align: center;
}

.done{
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}

